<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">
    <servlet>
        <servlet-name>AlbumStoreServlet</servlet-name>
        <servlet-class>com.albumstore.servlet.AlbumStoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlbumStoreServlet</servlet-name>
        <url-pattern>/albums</url-pattern>
    </servlet-mapping>
</web-app>
